/*General*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    text-align: center;
}


/*nav*/

nav{
    background: #050624;
    display: flex;
    padding: 3vh;
    margin-bottom: 0;
}

header h1{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    letter-spacing: .3rem;
    font-family: 'Times New Roman', Times, serif;
}

nav ul{
    display: flex;
}

nav ul li{
    border-right: 1px solid rgba(92, 89, 89, 0.41);
}

nav ul li:last-child{
    border-right: none;
}

nav ul li a{
    color: white;
    font-size: 1rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li a:hover{
    background-color: rgba(254, 254, 255, 0.138);
    transition: all .3s;
    border-bottom: solid .2rem rgb(222, 222, 233);
    color: white;
}

.drawer{
    font-size: 1rem;
    color: white;
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid 1.5px rgba(255, 255, 255, 0.083);
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox{
    display: none;
}

@media (max-width:1039px) {
    nav{
        justify-content: flex-start;
    }
    .drawer{
        display: block;
    }
    nav h1{
        margin-left: 1rem;
    }
    ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: rgb(8, 8, 43);
        top: 10vh;
        left: -100%;
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    nav ul li{
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        border-bottom: solid .1rem rgba(201, 196, 196, 0.4);
    }

    #ckbox:checked ~ .menu-box{
        left:0;
    }

}

/*Title Hero, Img Hero*/
section {
    padding: 15px 0;
    
}

.title-hero{
    padding: 5px 0;
}

.container-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25%;
    height: 100vh !important;
    width: 100vw;
    background: url(https://images.alphacoders.com/111/1112818.jpg) no-repeat center;
    background-size: cover;
}

img{
    padding: 15px 0;
    width: 50%;
    height: 50%;
}

/*Title, img*/
.container{
    text-align: center;
}

.title{
    padding: 5px 0px;
}

/*Footer*/


.container-fluid-footer{
    background-color: #050624;
    background: linear-gradient(to right, #050624, #1d1949, #050624);
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    color: white;
}

.row-copy a{
    text-decoration: none;
}

/*text-white p-3" style="font-family: 'Poppins', sans-serif; */
   
/*TERMINA EL FOOTER*/

/* CARDS */

.container-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
}

.card-container{
    display: flex;
    width: 200vh;
    height: auto;
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1´x 4px 2px rgba(0, 0, 0, rgba(0, 0, 0, 0.123));
}

.card-personaje{
    border-right: 1px solid #ddd;
}

.card-personaje a{
    position: relative;
    display: block;
}

.card-personaje .descripcion{
    padding: 20px;
    text-align: center;
}

.card-container h2{
    color: #050624;
}

.card-container h4{
    margin-bottom: 20px;
}

.card-container img{
    margin: 0 30px;
    transition: .2s;
}

.descripcion{
    background: #fbfbfb;
    position: relative;
}

.descripcion p{
    margin: 20px 30px;
}

.card-arma{
    border-right: 1px solid #ddd;
}

.card-arma a{
    position: relative;
    display: block;
}

.card-arma .descripcion{
    padding: 20px;
    text-align: center;
}

.card-material{
    border-right: 1px solid #ddd;
}

.card-material a{
    position: relative;
    display: block;
}

.card-material .descripcion{
    padding: 20px;
    text-align: center;
}


@media (max-width:640px){
    .card-container{
        display: block;
        width: 450px;
    }

    .card-personaje {
        padding: 20px 20px 5px 20px;
        border: none;
    }


    .card-personaje h2{
        text-align: center;
    }

    .card-personaje h4{
        margin: 0;
        text-align: center;
    }

    .card-arma {
        padding: 20px 20px 5px 20px;
        border: none;
    }

    .card-arma h2{
        text-align: center;
    }

    .card-arma h4{
        margin: 0;
        text-align: center;
    }

    .card-material {
        padding: 20px 20px 5px 20px;
        border: none;
    }
    
    .card-material h2{
        text-align: center;
    }

    .card-material h4{
        margin: 0;
        text-align: center;
    }

    .descripcion{
        padding: 5px 20px 20px 20px;
    }

}

/*EVENTO*/

.eventos{
    align-items: center;
    padding: 20px 15%;
    text-align: center;
}

.event{
    text-align: center;
    font-size: 25px;
    text-transform:uppercase;
    text-decoration: solid;
    padding-top: 25px;
}
.proximamente{
    padding: 15px 0;
}

.eventos img{
    width: 350px;
}

/* Empieza la galería */

.gallery-gallery{
    padding-top: 10%;
    padding-bottom: 5%;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    padding-bottom: 70px;
    grid-gap: 10px;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item{
    position: relative;
}

.gallery-item:nth-child(4) {
    grid-column-start: span 2;
}

.gallery-item:nth-child(5) {
    grid-row-start: span 2;
}

.gallery-item:nth-child(9) {
    grid-column-start: span 2;
}

.gallery-title{
    position: absolute;
    bottom: 0;
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.123));
    width: 100%;
    margin: 0;
    padding: 10px;
    text-transform: unset;
}

@media (min-width:768px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .gallery-item:nth-child(3){
        grid-column-start: span 2;
    }
    .gallery-item:nth-child(4){
        grid-column-start: span 3;
    }
    .gallery-item:nth-child(5){
        grid-row-start: span 3;
    }
    .gallery-item:nth-child(9){
        grid-column-start: span 3;
    }
}

@media (min-width:1024px) {
    .gallery-container {
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        margin: auto;
    }
    .gallery-item:nth-child(1){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .gallery-item:nth-child(4){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

}


/*Termina la galería*/

/*Empieza el Formulario*/

form{
    background-color: white;
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}

input{
    border: 0;
    outline: none;
    width: 280px;
}

textarea{
    border: 0;
    outline: none;
    width: 280px;
}

.field{
    border: solid 1px #ccc;
    padding: 10px;
}

.field:focus{
    border-color: #18a383;
}

.center-content{
    text-align: center;
}

/*Boton*/
.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-black{
    color: white;
    background-color: #3128a7;
}

.btn-black:hover{
    background-color: #271fa2;
}

.btn-black:active{
    background-color: #08109d;
}

/*Termina el Formulario*/