/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}
/*Navbar*/
header{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.84);
    position: fixed;
    z-index: 100;
}

header nav ul{
    display: flex;
    justify-content: flex-end;
}

header nav ul li{
    margin: 20px;
    display: inline-block;
}

header a{
    text-decoration: none;
    font-size: 25px;
    text-transform:uppercase;
    text-decoration: solid;
    padding: 5%;
    align-items: center;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(208, 196, 196);
    font-size: 12px;
    text-transform: uppercase;
}

.logo{
    text-decoration: none;
    color: rgb(208, 196, 196);
    text-transform: uppercase;
}


/*Title Hero, Img Hero*/
section {
    padding: 15px 0;
    
}

.title-hero{
    padding: 5px 0;
}

.container-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25%;
    height: 100vh !important;
    width: 100vw;
    background: url(../imagenes/genshin-impact-tree-landscape-nbj4z2tt8nqybfwn-nbj4z2tt8nqybfwn.jpg) no-repeat center;
    background-size: cover;
}

img{
    padding: 15px 0;
    width: 50%;
    height: 50%;
}

/*Title, img*/
.container{
    text-align: center;
}

.title{
    padding: 5px 0px;
}

/*Footer*/

footer{
    margin: 0;
    padding: 15px 0;
    background-color: rgba(225, 212, 212, 0.84);
}

footer ul{
    list-style: none;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 35px 15%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: solid;
    color: black;
}

footer p{
    font-size: 12px;
    padding: 15px 0;
}

footer ul li a{
    padding: 15px 0;
    color: black;
    font-size: 12px;
}

.copy{
    display: flex;
    justify-content: center;
    color: #999;
}

/*TERMINA EL FOOTER*/


/*EVENTO*/

.eventos{
    align-items: center;
    padding: 20px 15%;
    text-align: center;
}

.event{
    text-align: center;
    font-size: 25px;
    text-transform:uppercase;
    text-decoration: solid;
    padding-top: 25px;
}
.proximamente{
    padding: 15px 0;
}

.eventos img{
    width: 350px;
}

/* Empieza la galería */

.gallery-gallery{
    padding-top: 10%;
    padding-bottom: 5%;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    padding-bottom: 70px;
    grid-gap: 10px;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item{
    position: relative;
}

.gallery-item:nth-child(4) {
    grid-column-start: span 2;
}

.gallery-item:nth-child(5) {
    grid-row-start: span 2;
}

.gallery-item:nth-child(9) {
    grid-column-start: span 2;
}

.gallery-title{
    position: absolute;
    bottom: 0;
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.123));
    width: 100%;
    margin: 0;
    padding: 10px;
    text-transform: unset;
}

@media (min-width:768px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .gallery-item:nth-child(3){
        grid-column-start: span 2;
    }
    .gallery-item:nth-child(4){
        grid-column-start: span 3;
    }
    .gallery-item:nth-child(5){
        grid-row-start: span 3;
    }
    .gallery-item:nth-child(9){
        grid-column-start: span 3;
    }
}

@media (min-width:1024px) {
    .gallery-container {
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        margin: auto;
    }
    .gallery-item:nth-child(1){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .gallery-item:nth-child(4){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

}


/*Termina la galería*/

/*Empiezan las cards*/

.cardsPersonajes{
    align-items: center;
    padding-top: 8%;
    text-align: center;
}

.cardPersonaje img{
    width: 350px;
}

.cardPersonaje p{
    padding-bottom: 50px;
}

.cardsMateriales{
    align-items: center;
    padding-top: 8%;
    text-align: center;
}

.cardMateriales img{
    width: 350px;
}

.cardMateriales p{
    padding-bottom: 50px;
}

.cardsArmas{
    align-items: center;
    padding-top: 8%;
    text-align: center;
}

.cardArmas img{
    width: 350px;
}

.cardArmas p{
    padding-bottom: 50px;
}

/*Terminan las cards*

/*Empieza el Formulario*/

form{
    background-color: white;
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}

input{
    border: 0;
    outline: none;
    width: 280px;
}

textarea{
    border: 0;
    outline: none;
    width: 280px;
}

.field{
    border: solid 1px #ccc;
    padding: 10px;
}

.field:focus{
    border-color: #18a383;
}

.center-content{
    text-align: center;
}

/*Boton*/
.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-black{
    color: white;
    background-color: #3128a7;
}

.btn-black:hover{
    background-color: #271fa2;
}

.btn-black:active{
    background-color: #08109d;
}

/*Termina el Formulario*/