@charset "UTF-8";
/*ESTILOS GENERALES*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  text-align: center; }

/*-------Variables-------*/
/*---Paleta de colores---*/
/*Map*/
/*Extend*/
section .container-card, .eventos, .main-content .concept-four, .main-content .concept-five .word, .main-content .concept-seven, .main-content .concept-seven .word {
  display: flex;
  justify-content: center;
  align-items: center; }

.main-content .concept-two .hover, .main-content .concept-three .word .hover {
  display: grid;
  position: relative; }

/*Mixin*/
/*-------Variables-------*/
/*---Paleta de colores---*/
/*Map*/
/*Extend*/
section .container-card, .eventos, .main-content .concept-four, .main-content .concept-five .word, .main-content .concept-seven, .main-content .concept-seven .word {
  display: flex;
  justify-content: center;
  align-items: center; }

.main-content .concept-two .hover, .main-content .concept-three .word .hover {
  display: grid;
  position: relative; }

/*Mixin*/
/*ESTILOS DEL HEADER*/
header nav {
  background: #050624;
  display: flex;
  padding: 3vh;
  margin-bottom: 0; }
  header nav #ckbox {
    display: none; }
  header nav .drawer {
    font-size: 1rem;
    color: white;
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid 1.5px rgba(255, 255, 255, 0.083);
    padding: .2rem;
    border-radius: .1rem; }
  header nav a img {
    width: 250px;
    height: 100px;
    padding-left: 3%; }
  header nav ul {
    display: flex; }
    header nav ul li {
      border-right: 1px solid rgba(92, 89, 89, 0.41);
      display: flex;
      justify-content: end;
      align-items: center; }
      header nav ul li:last-child {
        border-right: none; }
      header nav ul li a {
        color: white;
        font-size: 1rem;
        padding: .8rem 1rem;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif; }
        header nav ul li a:hover {
          background-color: rgba(254, 254, 255, 0.138);
          transition: all .3s;
          border-bottom: solid 0.2rem #dedee9;
          color: white; }

/*-------Variables-------*/
/*---Paleta de colores---*/
/*Map*/
/*Extend*/
section .container-card, .eventos, .main-content .concept-four, .main-content .concept-five .word, .main-content .concept-seven, .main-content .concept-seven .word {
  display: flex;
  justify-content: center;
  align-items: center; }

.main-content .concept-two .hover, .main-content .concept-three .word .hover {
  display: grid;
  position: relative; }

/*Mixin*/
/*ESTILOS DE LAS CARDS*/
section .container-card {
  height: 5%;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px 20px; }
  section .container-card .card-container {
    display: flex;
    width: 200vh;
    height: auto;
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.123); }
    section .container-card .card-container .card-personaje {
      border-right: 1px solid #ddd; }
      section .container-card .card-container .card-personaje a {
        position: relative;
        display: flex;
        justify-content: center; }
        section .container-card .card-container .card-personaje a img {
          margin: 0 30px;
          transition: .2s;
          height: 300px;
          width: 400px; }
      section .container-card .card-container .card-personaje h2 {
        color: #050624;
        margin: 0 30px; }
      section .container-card .card-container .card-personaje h4 {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 20px; }
    section .container-card .card-container .historia {
      padding: 20px;
      text-align: center;
      background: white;
      position: relative; }
      section .container-card .card-container .historia p {
        margin: 20px 30px; }
    section .container-card .card-container .card-materiales {
      border-right: 1px solid #ddd; }
      section .container-card .card-container .card-materiales a {
        position: relative;
        display: flex;
        justify-content: center; }
        section .container-card .card-container .card-materiales a img {
          margin: 0 30px;
          transition: .2s;
          height: 300px;
          width: 400px; }
      section .container-card .card-container .card-materiales h2 {
        color: #050624;
        margin: 0 30px;
        text-align: center; }
      section .container-card .card-container .card-materiales h4 {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 20px;
        text-align: center; }
    section .container-card .card-container .historia {
      padding: 20px;
      text-align: center;
      background: white;
      position: relative; }
      section .container-card .card-container .historia p {
        margin: 20px 30px; }
    section .container-card .card-container .card-arma {
      border-right: 1px solid #ddd; }
      section .container-card .card-container .card-arma a {
        position: relative;
        display: flex;
        justify-content: center; }
        section .container-card .card-container .card-arma a img {
          margin: 0 30px;
          transition: .2s;
          height: 300px;
          width: 400px; }
      section .container-card .card-container .card-arma h2 {
        color: #050624;
        margin: 0 30px; }
      section .container-card .card-container .card-arma h4 {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 20px; }
    section .container-card .card-container .historia {
      padding: 20px;
      text-align: center;
      background: white;
      position: relative; }
      section .container-card .card-container .historia p {
        margin: 20px 30px; }

/*ESTILOS DE CARD EN INDEX*/
section {
  padding: 15px 0; }
  section .container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25%;
    height: 100vh !important;
    width: 100vw;
    background: url(https://images.alphacoders.com/111/1112818.jpg) no-repeat center;
    background-size: cover; }
    section .container-hero .title-hero {
      padding: 5px 0; }
  section img {
    padding: 15px 0;
    width: 50%;
    height: 50%; }

/*-------Variables-------*/
/*---Paleta de colores---*/
/*Map*/
/*Extend*/
section .container-card, .eventos, .main-content .concept-four, .main-content .concept-five .word, .main-content .concept-seven, .main-content .concept-seven .word {
  display: flex;
  justify-content: center;
  align-items: center; }

.main-content .concept-two .hover, .main-content .concept-three .word .hover {
  display: grid;
  position: relative; }

/*Mixin*/
/*ESTILOS DEL FOOTER*/
footer .container-fluid-footer {
  background-color: #050624;
  background: linear-gradient(to right, #050624, #1d1949, #050624);
  font-family: 'Times New Roman', Times, serif;
  padding: 15px;
  color: white; }
  footer .container-fluid-footer .row-copy a {
    text-decoration: none; }

/*------NAV-----*/
@media (max-width: 1039px) {
  body header nav {
    justify-content: flex-start; }
    body header nav a img {
      margin-left: 1rem; }
    body header nav ul {
      position: absolute;
      width: 100%;
      height: 100vh;
      background-color: #08082b;
      top: 16vh;
      left: -100%;
      text-align: left;
      transition: all .5s;
      display: flex;
      flex-direction: column;
      align-content: stretch;
      z-index: 1; }
      body header nav ul li {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        border-bottom: solid 0.1rem rgba(201, 196, 196, 0.4); } }

/*MENU*/
@media (max-width: 1039px) {
  body header nav .drawer {
    display: block; }
  body header nav #ckbox:checked ~ .menu-box {
    left: 0; } }

/*------CARDS------*/
@media (max-width: 1039px) {
  section .container-card .card-container {
    display: block;
    width: 450px; }
    section .container-card .card-container .card-personaje {
      padding: 20px 20px 5px 20px;
      border: none; }
      section .container-card .card-container .card-personaje h2 {
        text-align: center; }
      section .container-card .card-container .card-personaje h4 {
        margin: 0;
        text-align: center; }
    section .container-card .card-container .card-arma {
      padding: 20px 20px 5px 20px;
      border: none; }
      section .container-card .card-container .card-arma h2 {
        text-align: center; }
      section .container-card .card-container .card-arma h4 {
        margin: 0;
        text-align: center; }
    section .container-card .card-container .card-material {
      padding: 20px 20px 5px 20px;
      border: none; }
      section .container-card .card-container .card-material h2 {
        text-align: center; }
      section .container-card .card-container .card-material h4 {
        margin: 0;
        text-align: center; }
    section .container-card .card-container .historia {
      padding: 5px 20px 20px 20px; } }

/*------GALERIA------*/
@media only screen and (min-width: 360px) and (max-width: 500px) {
  .gallery-container {
    grid-template-columns: repeat(5, 1fr); }
    .gallery-container .gallery-item:nth-child(1) {
      grid-column-start: span 5; }
    .gallery-container .gallery-item:nth-child(2) {
      grid-column-start: span 5; }
    .gallery-container .gallery-item:nth-child(3) {
      grid-column-start: span 5; }
    .gallery-container .gallery-item:nth-child(4) {
      grid-column-start: span 5; }
    .gallery-container .gallery-item:nth-child(5) {
      grid-column-start: span 5;
      grid-row-start: span 3; }
    .gallery-container .gallery-item:nth-child(6) {
      grid-column-start: span 5; }
    .gallery-container .gallery-item:nth-child(7) {
      grid-column-start: span 5; }
    .gallery-container .gallery-item:nth-child(8) {
      grid-column-start: span 5; }
    .gallery-container .gallery-item:nth-child(9) {
      grid-column-start: span 5; } }

@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(5, 1fr); }
    .gallery-container .gallery-item:nth-child(1) {
      grid-column-start: span 2; }
    .gallery-container .gallery-item:nth-child(2) {
      grid-column-start: span 3; }
    .gallery-container .gallery-item:nth-child(3) {
      grid-column-start: span 2; }
    .gallery-container .gallery-item:nth-child(4) {
      grid-column-start: span 3; }
    .gallery-container .gallery-item:nth-child(5) {
      grid-column-start: span 2;
      grid-row-start: span 2; }
    .gallery-container .gallery-item:nth-child(6) {
      grid-column-start: span 3;
      grid-row-start: span 1; }
    .gallery-container .gallery-item:nth-child(7) {
      grid-column-start: span 3;
      grid-row-start: span 1; }
    .gallery-container .gallery-item:nth-child(8) {
      grid-column-start: span 5; }
    .gallery-container .gallery-item:nth-child(9) {
      grid-column-start: span 5; } }

@media only screen and (min-width: 1025px) and (max-width: 2400px) {
  .gallery-container {
    grid-template-columns: repeat(5, 1fr); }
    .gallery-container .gallery-item:nth-child(1) {
      grid-column-start: span 2;
      grid-row-start: span 2; }
    .gallery-container .gallery-item:nth-child(2) {
      grid-column-start: span 3; }
    .gallery-container .gallery-item:nth-child(3) {
      grid-column-start: span 3; }
    .gallery-container .gallery-item:nth-child(4) {
      grid-column-start: span 2; }
    .gallery-container .gallery-item:nth-child(5) {
      grid-column-start: span 3;
      grid-row-start: span 4; }
    .gallery-container .gallery-item:nth-child(6) {
      grid-column-start: span 2; }
    .gallery-container .gallery-item:nth-child(7) {
      grid-column-start: span 2; }
    .gallery-container .gallery-item:nth-child(8) {
      grid-column-start: span 2; }
    .gallery-container .gallery-item:nth-child(9) {
      grid-column-start: span 5;
      grid-row-start: span 2; } }

/*-------Variables-------*/
/*---Paleta de colores---*/
/*Map*/
/*Extend*/
section .container-card, .eventos, .main-content .concept-four, .main-content .concept-five .word, .main-content .concept-seven, .main-content .concept-seven .word {
  display: flex;
  justify-content: center;
  align-items: center; }

.main-content .concept-two .hover, .main-content .concept-three .word .hover {
  display: grid;
  position: relative; }

/*Mixin*/
/*ESTILOS DE PÁGINA DE CONTACTO*/
form {
  background-color: white;
  border-radius: 3px;
  color: #999;
  font-size: 0.8em;
  padding: 20px;
  margin: 0 auto;
  width: 300px; }
  form input {
    border: 0;
    outline: none;
    width: 280px; }
    form input textarea {
      border: 0;
      outline: none;
      width: 280px; }
    form input .field {
      border: solid 1px #ccc;
      padding: 10px; }
      form input .field:focus {
        border-color: #18a383; }
  form .center-content {
    text-align: center; }
    form .center-content .btn {
      border-radius: 3px;
      display: inline-block;
      padding: 20px 15px;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
    form .center-content .btn-black {
      color: white;
      background-color: #050624;
      border-color: white; }
      form .center-content .btn-black:hover {
        background-color: #150f6c; }
      form .center-content .btn-black :active {
        background-color: #150f6c; }

/*ESTILOS DE PÁGINA DE EVENTOS*/
.eventos {
  flex-direction: column;
  padding: 5% 0px; }
  .eventos .proximamente {
    text-align: center; }
  .eventos img {
    padding: 10px;
    width: 100%; }

.event {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: solid;
  padding-top: 5%; }

/*ESTILOS DE PÁGINA DE GALERÍA*/
.gallery-gallery {
  padding-top: 5%;
  font-family: 'Times New Roman', Times, serif; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 450px;
  padding: 20px;
  padding-bottom: 70px;
  grid-gap: 10px; }
  .gallery-container .gallery-item {
    position: relative; }
    .gallery-container .gallery-item .gallery-item:nth-child(4) {
      grid-column-start: span 2; }
    .gallery-container .gallery-item .gallery-item:nth-child(5) {
      grid-row-start: span 4; }
    .gallery-container .gallery-item .gallery-item:nth-child(9) {
      grid-column-start: span 2; }
    .gallery-container .gallery-item .gallery__img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .gallery-container .gallery-item .gallery-title {
      position: absolute;
      bottom: 0;
      color: rgba(0, 0, 0, 0.463);
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.123));
      width: 100%;
      margin: 0;
      padding: 10px;
      text-transform: unset; }

/*ESTILOS PÁGINA DE REGIONES*/
.main-content {
  text-align: center;
  text-transform: uppercase;
  scroll-snap-type: y mandatory;
  position: relative;
  height: 100vh;
  overflow-y: scroll; }
  .main-content .concept {
    position: relative;
    padding: 5em;
    height: 100vh;
    overflow: hidden;
    scroll-snap-align: center; }
    .main-content .concept:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
      opacity: 0;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); }
      .main-content .concept:before .concept:hover:before {
        opacity: 0.5; }
  .main-content .concept-one {
    display: grid;
    grid: repeat(3, 1fr)/repeat(3, 1fr);
    background: #050624;
    padding: 8em;
    background: url(https://wallake.org/uploads/posts/2022-09/1663630561_1780-1.webp) no-repeat center center/cover;
    background-size: cover; }
    .main-content .concept-one .hover {
      z-index: 1;
      cursor: pointer; }
    .main-content .concept-one .hover-1:hover ~ h1 {
      left: 30px;
      margin-top: -10px; }
    .main-content .concept-one .hover-2:hover ~ h1 {
      margin-top: -10px; }
    .main-content .concept-one .hover-3:hover ~ h1 {
      right: 30px;
      margin-top: -10px; }
    .main-content .concept-one .hover-4:hover ~ h1 {
      left: 30px; }
    .main-content .concept-one .hover-6:hover ~ h1 {
      right: 30px; }
    .main-content .concept-one .hover-7:hover ~ h1 {
      left: 30px;
      margin-top: -50px; }
    .main-content .concept-one .hover-8:hover ~ h1 {
      margin-top: -50px; }
    .main-content .concept-one .hover-9:hover ~ h1 {
      right: 30px;
      margin-top: -50px; }
    .main-content .concept-one h1 {
      position: absolute;
      color: white;
      margin: auto;
      left: 0;
      right: 0;
      top: 50%;
      margin-top: -30px;
      transition: 0.5s ease;
      z-index: 0;
      letter-spacing: 25px;
      cursor: pointer;
      font: 900 45px Montserrat;
      text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); }
  .main-content .concept-two {
    display: grid;
    grid: 100%/repeat(7, 1fr);
    padding: 5em 0em;
    background: url("../../assets/imagenes/inazuma.jpg") center center/cover;
    background-size: cover; }
    .main-content .concept-two .hover {
      place-items: center;
      cursor: pointer; }
      .main-content .concept-two .hover h1 {
        color: transparent;
        text-align: 0 1px 1px;
        -webkit-text-stroke: 2px #fff;
        text-shadow: none;
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        font: 900 60px Montserrat;
        text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); }
      .main-content .concept-two .hover:hover h1 {
        transform: scale(1.5);
        color: #fff;
        -webkit-text-stroke: 2px transparent;
        text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .main-content .concept-three {
    padding: 5em;
    background: url(https://images7.alphacoders.com/120/1200618.jpg) center center/cover;
    background-size: cover; }
    .main-content .concept-three .word {
      display: flex;
      align-items: center;
      max-width: 500px;
      margin: auto;
      cursor: pointer; }
      .main-content .concept-three .word .hover {
        flex: 1;
        height: calc(100vh - 10em);
        grid: repeat(2, 2fr)/100%;
        cursor: pointer; }
        .main-content .concept-three .word .hover div {
          position: relative;
          z-index: 5; }
          .main-content .concept-three .word .hover div:nth-child(1):hover ~ h1 {
            margin-top: -10px; }
          .main-content .concept-three .word .hover div:nth-child(2):hover ~ h1 {
            margin-top: -50px; }
        .main-content .concept-three .word .hover h1 {
          position: absolute;
          color: white;
          margin: auto;
          left: 0;
          right: 0;
          top: 50%;
          margin-top: -30px;
          transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          z-index: 0;
          cursor: pointer;
          font: 900 60px Montserrat;
          text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); }
  .main-content .concept-four {
    height: 100vh;
    position: relative;
    letter-spacing: 1em;
    background: url("../../assets/imagenes/mondstadt.jpg") no-repeat center center/cover;
    background-size: cover; }
    .main-content .concept-four h1 {
      display: inline-block;
      color: white;
      font: 900 35px Montserrat;
      text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); }
    .main-content .concept-four:hover h1 {
      letter-spacing: 5px;
      cursor: pointer;
      transform: scale(1.3);
      transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .main-content .concept-five {
    background: url(https://images6.alphacoders.com/127/1275600.jpg) center center/cover;
    display: flex;
    align-items: center; }
    .main-content .concept-five .word {
      width: 600px;
      margin: auto;
      height: 80%;
      cursor: pointer; }
      .main-content .concept-five .word:hover .char:nth-child(even) {
        top: 20px; }
      .main-content .concept-five .word:hover .char:nth-child(odd) {
        top: -20px; }
      .main-content .concept-five .word .char {
        flex: 1;
        position: relative;
        display: inline-block;
        top: 0;
        transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  .main-content .concept-seven {
    background: url("../../assets/imagenes/Palace_in_Snezhnaya.webp") center center/cover; }
    .main-content .concept-seven .word {
      width: 450px;
      height: 80%;
      color: white; }
      .main-content .concept-seven .word:hover .char:before {
        transition: 0.6s ease;
        color: rgba(255, 255, 255, 0.8);
        animation: falls 1s ease forwards; }
      .main-content .concept-seven .word:hover .char:nth-child(1):before {
        animation: falls 0.9s ease 0.2s forwards; }
      .main-content .concept-seven .word:hover .char:nth-child(2n + 3):before {
        animation: falls 1s ease 0.3s forwards; }
    .main-content .concept-seven .char {
      flex: 1;
      position: relative; }
      .main-content .concept-seven .char:before {
        content: attr(data-content);
        position: absolute;
        top: 0;
        color: transparent;
        text-shadow: none; }

@keyframes jump-out {
  0% {
    opacity: 0;
    transform: scale(1); }
  20% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(2); } }

@keyframes falls {
  0% {
    opacity: 0;
    top: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 100px; } }
